@font-face {
    font-family: 'light';
    font-style: normal;
    src: url("../fonts/Proxima\ Nova\ Alt\ Light.otf");
  }

  @font-face {
    font-family: 'bold';
    font-style: normal;
    src: url("../fonts/Proxima\ Nova\ Bold.otf");
  }
  @font-face {
    font-family: 'regular';
    font-style: normal;
    src: url("../fonts/ProximaNova-Regular.otf");
  }

  @font-face {
    font-family: 'black';
    font-style: normal;
    src: url("../fonts/Proxima\ Nova\ Black.otf");
  }

  @font-face {
    font-family: 'thin';
    font-style: normal;
    src: url("../fonts/Proxima\ Nova\ Thin.otf");
  }
  @font-face {
    font-family: 'italic';
    font-style: normal;
    src: url("../fonts/proximanova-lightitalic.otf");
  }



