.main{overflow-x: hidden;}




.slick-next:before {
	color:rgb(182, 35, 35);
	font-size: 60px;
    position: absolute;
    left: -95px;
    bottom: 0px;
}
.slick-prev:before{position: absolute;
   display: none;
}



